<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        [defaultHref]="'/places/tabs/offers/' + placeId"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Offer</ion-title>
    <ion-buttons slot="primary">
      <ion-button [disabled]="!form || form['status'] !== 'VALID'" (click)="onEditOffer()">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading" class="ion-text-center">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <form [formGroup]="form" *ngIf="!isLoading">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item size-sm="6" offset-sm="3">
            <ion-label position="floating">Title</ion-label>
            <ion-input type="text" autocomplete="true" autocorrect="true" formControlName="title"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item size-sm="6" offset-sm="3">
            <ion-label position="floating">Description</ion-label>
            <ion-input rows="3" formControlName="description"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
